.map-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  font-weight: 400;
}

.map-image {
  width: 100%;
  height: auto;
  display: block;
  z-index: 1;
}

.map-point {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: gray;
  cursor: pointer;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.map-point.available {
  background-color: rgb(255, 103, 31);
}

.map-point-tooltip {
  display: none;
  position: absolute;
  background-color: rgb(255, 103, 31);
  color: white;
  padding: 5px 10px;
  width: 120px;
  transform: translate(-1%, -61%);
  z-index: 10;
  font-size: 12px;
  transition: opacity 0.3s ease-in-out;
  pointer-events: auto;
  word-wrap: break-word;
  white-space: normal;
}

.tooltip-wrapper {
  position: absolute;
  top: -10px;
  left: -10px;
  padding: 10px;
}

.map-point-tooltip a {
  color: white;
  font-weight: bold;
}

.map-point-tooltip::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1; /* Invisible safe zone */
  pointer-events: none;
}

.center-tooltip {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  z-index: 2;
}

.center-tooltip button {
  padding: 0px 13px 0px 22px;
  border: none;
  font-size: 12px;
  cursor: pointer;
  width: 190px;
  height: 35px;
  font-weight: bold;
  background-color: rgb(255, 103, 31);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 12;
  position: relative;
  transition: none;
}

.arrow-tooltip-button {
  margin-left: auto;
  font-size: 14px;
  padding-left: 5px;
}

.available-cities {
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0 0;
  display: none;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  font-size: 12px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.available-cities li {
  border-bottom: 1px solid #ddd;
  width: 170px;
  justify-content: center;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px;
  word-wrap: break-word;
  width: 400px;
}

.available-cities :hover {
  background-color: rgb(206, 206, 206);
  cursor: pointer;
}

.available-cities a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.available-cities li:last-child {
  border-bottom: none;
}

@media (max-width: 768px) {
  .map-image,
  .map-point {
    display: none;
  }
  #available-cities li,
  .map-point-tooltip {
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    width: 100%;
    box-sizing: border-box;
  }
  .available-cities {
    width: 100%;
  }
}
