body {
  margin: 0;
  font-family: "Inter";
}

.map-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.map-image {
  width: 100%;
  height: auto;
  display: block;
  z-index: 1;
}

.map-point {
  position: absolute;
  width: 17px;
  height: 17px;
  background-color: gray;
  border-radius: 4%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.map-point.available {
  background-color: rgb(255, 103, 31);
}

.map-point-tooltip {
  display: none;
  position: absolute;
  background-color: rgb(255, 103, 31);
  color: white;
  padding: 5px 10px 5px 10px;
  width: 120px;
  transform: translate(0, -61%);
  z-index: 10;
  font-family: "Inter";
  font-size: 10px;
  font-weight: 700;
  transition: opacity 1s ease-in-out;
}

.map-point-tooltip a {
  color: white;
}

.center-tooltip {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  z-index: 2;
}

.center-tooltip button {
  padding: 0px 13px 0px 22px;
  border: none;
  font-size: 12px;
  cursor: pointer;
  width: 190px;
  height: 35px;
  font-weight: bold;
  font-family: "Inter";
  background-color: rgb(255, 103, 31);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 12;
  position: relative;
  transition: none;
}

.arrow-tooltip-button {
  margin-left: auto;
  font-size: 14px;
  padding-left: 5px;
}

.available-cities {
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0 0;
  display: none;
  max-height: 400px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 12px;
}

.available-cities li {
  border-bottom: 1px solid #ddd;
  height: 40px;
  width: 170px;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px;
  word-wrap: break-word;
}

.available-cities li:last-child {
  border-bottom: none;
}

#jasin-point .map-point-tooltip {
  transform: translate(-80%, -61%);
}
