body {
  margin: 0;
  font-family: "Inter";
}

.map-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.map-image {
  width: 100%;
  height: auto;
  display: block;
}

.map-point {
  position: absolute;
  width: 17px;
  height: 17px;
  background-color: gray;
  border-radius: 4%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.map-point.available {
  background-color: rgb(255, 103, 31);
}

.map-point-tooltip {
  display: none;
  position: absolute;
  background-color: rgb(255, 103, 31);
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  transform: translate(-50%, -100%);
  z-index: 10;
  font-family: "Inter";
  font-size: 10px;
  font-weight: 700;
}

.center-tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers tooltip on the map */
  text-align: center;
  z-index: 10;
}

.center-tooltip button {
  padding: 0px 13px 0px 22px;
  border: none;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 10px;
  width: 170px;
  height: 35px;
  justify-content: space-between;
  text-align: left;
  font-weight: bold;
  margin: 0;
  font-family: "Inter";
  background-color: rgb(255, 103, 31);
  color: white;
}

.arrow-tooltip-button {
  display: inline;
}

.available-cities {
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0 0;
  display: none;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 12px;
}

.available-cities li {
  border-bottom: 1px solid #ddd;
  height: 20px;
  justify-content: center;
}

.available-cities li:last-child {
  border-bottom: none;
}
